.App{
  text-align:center;
  font-family:Arial;
}

.card{
  width:350px;
  margin:20px auto;
  padding:15px;
  border:1px solid gray;
  border-radius:10px;
  box-shadow:2px 2px 8px lightgray;
}

img{
  border-radius:10px;
}